$green: #28a661;
$white: #fff;
$black: #4f4f4f;
$red: #ff0000;

body {
    font-family: 'Nexa';
    color: $black;
    background: url('../img/pattern.png') center center;
    background-size: cover
}

a,
.row>div {
    transition: all 0.3s ease-in-out;

}

.main-map {
    text-align: center;

    .tagline {
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 24px;
        vertical-align: middle;
        margin-top: -13px;
    }
}

.breath-map {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px !important;


    svg {
        width: 100%;
        height: auto;

        path {
            fill: #c2a191;
            cursor: pointer;
            position: relative;
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 0.8
            }
        }

        text {
            fill: #000;
            pointer-events: none;
            font-size: 0.75em
        }

        .percent- {
            @for $i from 0 through 10 {
                &#{$i} path {
                    fill: #c2a191;
                }
            }

            @for $i from 11 through 30 {
                &#{$i} path {
                    fill: #97a380;
                }
            }

            @for $i from 31 through 50 {
                &#{$i} path {
                    fill: #80a379;
                }
            }

            @for $i from 51 through 80 {
                &#{$i} path {
                    fill: #68a470;
                }
            }

            @for $i from 81 through 99 {
                &#{$i} path {
                    fill: #27a369;
                }
            }

            &100 {
                &:after {
                    content: "";
                    display: block;
                    background: url(../img/tree.svg);
                }

                path {
                    fill: #00a651;
                }
            }
        }
    }
}

.province-detail {
    position: absolute;
    z-index: 2;

    div {
        display: inline-block;
        background: #1094F6;
        color: #fff;
        padding: 8px 16px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}

.container-fluid {
    max-width: 1484px;

    &.mt-5 {
        >.row {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0 !important;

            @media (max-width: 576px) {
                width: 100%;
                margin-bottom: 15px !important;
            }
        }
    }

    @media (max-width: 576px) {
        padding: 0 !important
    }
}

header {
    border-bottom: 4px solid $green;
    height: 86px;
    line-height: 86px;
    background: $white;

    .logo {
        height: 54px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -5px;

        @media (max-width: 576px) {
            height: 40px;

        }
    }

    nav {
        a {
            color: $black !important;
            font-size: 17.9px !important;
            margin-left: 60px;
            text-decoration: none !important;
            border-bottom: transparent 2px solid;

            &:hover {
                border-bottom: 2px solid $green
            }

            &.donate {
                display: inline-block;
                padding: 10px 15px 3px 15px;
                line-height: 20px;
                background-color: $green;
                color: $white !important;
                border: 2px solid transparent;

                &:hover {
                    border: 2px solid $green;
                    background-color: $white;
                    color: $green !important;
                }
            }
        }

        @media (max-width: 576px) {
            line-height: 20px;
            margin-top: 25px;
            text-align: right;

            a {
                margin-left: 15px;
                font-size: 14px !important;
                display: block;
                border-bottom: none !important;
            }
        }
    }

    @media (max-width: 576px) {
        .container-fluid {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
}

.card {
    border-radius: 0 !important;
    height: 100%;
    border: none;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
}


.initial {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;

    @media (max-width: 576px) {
        .breath-map {
            margin-bottom: 0 !important;
        }
    }
}

#detail {
    display: none;
    text-align: center;

    .card {
        padding: 25px 0;
        position: relative;

        span.note {
            position: absolute;
            display: block;
            bottom: 6px;
            width: 100%;
            text-align: center;
            font-size: 11px;
            font-style: italic;
        }
    }

    .percent {
        font-size: 25px;
    }

    ul {
        margin-left: 0;
        padding-left: 0;
    }

    figure {
        height: 160px;
        position: relative;

        svg {
            height: 150px;
            max-width: calc(100% - 20px);
        }

        .tree {
            position: absolute;
            z-index: 2;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
        }
    }

    .percent- {
        @for $i from 0 through 10 {
            &#{$i} path {
                fill: #c2a191;
            }
        }

        @for $i from 11 through 30 {
            &#{$i} path {
                fill: #97a380;
            }
        }

        @for $i from 31 through 50 {
            &#{$i} path {
                fill: #80a379;
            }
        }

        @for $i from 51 through 80 {
            &#{$i} path {
                fill: #68a470;
            }
        }

        @for $i from 81 through 99 {
            &#{$i} path {
                fill: #27a369;
            }
        }

        &100 {
            &:after {
                content: "";
                display: block;
                background: url(../img/tree.svg);
            }

            path {
                fill: #00a651;
            }
        }
    }

    .province-detail {
        ul {
            margin-top: 0;
            margin-bottom: 5px;
        }
    }
}

.withchild {
    background: #fff;
    padding-top: 0;
    background-position: -60px top;
    background-size: contain;
    transition: all 0.3s ease-in-out;

    >.row {
        height: 100%;
    }

    figure {
        margin: 0;
        padding: 0 0 0 1.7rem;

        img {
            width: 100%;
        }

        @media(max-width: 576px) {
            figure {
                margin: 0;
                padding: 1rem 1rem 0 1rem !important;

                img {
                    margin-bottom: 20px;
                }
            }
        }
    }

    p {
        font-size: 14.5px;
        padding: 0 1rem 0 1rem;
        margin-bottom: 9px;

        @media(max-width: 576px) {
            padding: 25px;
        }

        @media (max-width: 400px) {
            padding: 15px
        }
    }

    a {

        @media (max-width: 576px) {
            margin: 15px;
            display: inline-block;
            font-size: 16px
        }
    }

    @media (max-width: 576px) {
        background-position: top center;
        background-size: contain;
        background-image: url(../img/child-mobile.png);
        padding-top: 260px;
        position: relative;

        .col-sm-3 {
            display: none;
        }
    }
}

.initial {
    .withchild {
        background-position: left top;
    }
}

footer {
    background: url(../img/trees.png) top center;
    display: block;
    background-size: auto 100%;
    width: 100%;
    height: 324px;
    position: relative;
    z-index: -1;
    margin-top: -100px;

    @media (min-width:1737px) {
        background-size: 100% auto;
    }
}

.btn-rounded {
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 100px;
    margin: 0;
    line-height: 46px;
    height: 40px;
    padding: 0 30px;
    border: none;
    background: $green;
}

span.turkey {
    font-size: 25px
}

.percent-turkey {
    width: calc(100% - 30px);
    margin: 0 auto;
    position: relative;

    #turkeypercent {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-size: 43px;
        font-weight: bold
    }

    svg {
        width: 100%;
    }
}

.numbers {
    font-size: 18px;
    list-style: none;

    .bold {
        font-weight: bold
    }

    @media (max-width: 576px) {
        padding-left: 10px;
    }
}

:root {
    --color-brand-secondary: #c2a191;
    --color-brand: #00a651;
}

.gradient__brand-secondary {
    stop-color: var(--color-brand-secondary);
}

.gradient__brand {
    stop-color: var(--color-brand);
}

.full-height {
    height: 100%;

    @media (max-width: 576px) {
        height: auto;
    }
}

#top-5 {

    h3 {
        border-bottom: 4px solid $green;
        text-align: center;
        font-size: 25px;
        padding-top: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 10px 0 0 0;
        font-size: 16px;
        letter-spacing: -0.5px;

        li {
            padding-left: 20px;
            line-height: 30px;
            height: 30px;
            margin-bottom: 10px;

            span {
                display: inline-block;
                text-align: left;

                &.name {
                    width: 130px;
                }
            }

            .progress-holder {
                width: calc(100% - 140px);
                display: inline-block;
                padding: 0 10px;
                vertical-align: middle;
                position: relative;

                span {
                    position: absolute;
                    left: 50%;
                    top: 63%;
                    color: $white;
                    transform: translate(-50%, -50%);
                    font-size: 13px;
                }

                >div {
                    height: 20px;
                    border-radius: 20px;

                    >div {
                        border-radius: 0 20px 20px 0;
                    }
                }
            }
        }
    }
}

#form {
    padding: 20px;
    text-align: center;

    input,
    select {
        border-color: $black;
        border-radius: 0;
        padding-bottom: 0;

        &.error {
            color: red;
            border-color: red !important;
        }
    }

    label.error {
        color: red;
        font-size: 12px;
        margin: 0;
        padding: 0
    }

    div.message,
    div.error {
        display: none;
        font-size: 14px;
        text-align: left;
        min-height: 292px;

        >div {
            padding-bottom: 10px;
        }
    }

    .error span {
        color: $red
    }
}

.recaptcha {
    display: block;
    width: 100%;

    .g-recaptcha {
        width: 100%;
        margin: 0 auto;

        >div,
        >div>div,
        iframe {
            width: 100% !important;
        }
    }
}

.show-desktop {
    @media (max-width:576px) {
        display: none !important;
    }
}

.show-mobile {
    display: none;

    @media (max-width:576px) {
        display: inline-block !important;
        margin: 30px auto;
    }
}

tspan {
    font-size: 16px;
    position: relative;
    left: -10px;
    top: -10px;

    @media(min-width: 768px) {
        font-size: 18px
    }

    @media(max-width: 576px) {
        svg g text tspan {
            font-size: 20px;
        }
    }
}


select,
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.16) !important;
    padding: 8px 10px 4px 10px !important;
    font-size: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px1;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 50%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 50%);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 50%);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

    &:focus {
        border: 1px solid #999 !important;
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important
    }
}

select {
    padding-bottom: 1px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    option:disabled {
        color: rgba(0, 0, 0, 0.4);
    }
}

#join {
    margin-bottom: 10px;
}

#areas {
    display: none;
    margin-bottom: 15px;

    ul {
        margin-bottom: 0;
    }
}

.modal-body a {
    color: #28a661;
}

.loader {
    position: absolute;
    display: none;
    bottom: 50px;
    right: 110px;
    width: 30px;
}

.joinCTA {
    margin-left: 1rem;

    @media(max-width: 576px) {
        margin: 1rem auto
    }
}

.numbers {
    padding-left: 1rem;
}

