RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteBase /

RewriteRule ^p$ post.php [L]
RewriteRule ^p/$ post.php [L]

RewriteRule ^j$ /tmp/provinces.json [L]
RewriteRule ^j/$ /tmp/provinces.json [L]

RewriteRule ^t$ /tmp/areas.json [L]
RewriteRule ^t/$ /tmp/areas.json [L]
